*{
  
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 1.75em;
    text-align: center;
    margin: 20px 0;
}

.section {
    box-sizing: border-box;
    float: left;
    width: 31%; 
    border: 1.12px solid black;
    margin: 10px;
    position: relative;
    overflow: hidden; 
    background-color:gainsboro ;
}

.section-beef,
.section-sushi,
.section-chicken {
   position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    border: 2.5px solid black;
    flood-color: initial; 
}

.section-beef {
    background-color: #c3ac2d;
}

.section-sushi {
    background-color: #189d39;
}

.section-chicken {
    background-color: #930f0f;
}

h2 {
    text-align: center;
    margin: 10px 0;
}

@media (max-width: 767px) {
  .section {
      width: 100%; 
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section:nth-child(3) { 
      width: 100%; 
      float: none; 
  }

  .section:nth-child(1), 
  .section:nth-child(2) {
      width: 50%;
      float: left; 
  }
}

@media (min-width: 992px) {
  .section {
      float: left; 
  }
}

.section-title {
    font-size: 125%;
}
